name: Docker Image CI

on:
  push:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set environment variable
      run: echo "VERSION=$(date +%s)" >> $GITHUB_ENV
    - name: 'Login to GitHub Container Registry'
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{github.actor}}
        password: ${{secrets.GITHUB_TOKEN}}
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag ghcr.io/raspberryprogramming/tc2-bbs-mesh:$VERSION
    - name: Add latest tag to docker image
      run: docker tag ghcr.io/raspberryprogramming/tc2-bbs-mesh:$VERSION ghcr.io/raspberryprogramming/tc2-bbs-mesh:latest
    - name: Push docker image to ghcr
      run: docker push ghcr.io/raspberryprogramming/tc2-bbs-mesh:$VERSION
    - name: Push docker latest image to ghcr
      run: docker push ghcr.io/raspberryprogramming/tc2-bbs-mesh:latest
